<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="UTF-8" />
</head>
	<body>
		<section class="layout-content" layout:fragment="corpo">
			<br/><br/><br/>
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<span th:text="#{list.package}"></span>
						</li>
					</ul>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="btn btn-primary" th:href="@{/pacotes/cadastrar}" role="button"> 
					<span th:text="#{new.package}"></span>
				</a>
			</div>
			<div sec:authorize="hasRole('ROLE_AGENCIA')">
				<a class="btn btn-primary" th:href="@{/pacotes/cadastrar}" role="button"> 
					<span th:text="#{new.package}"></span>
				</a>
			</div>
			</nav>
		<div th:replace="fragments/modal :: modal"></div>
			<div class="container" id="listagem">
	
				<div th:replace="fragments/alert"></div>
	
				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th th:text="#{info.name}"></th>
								<th th:text="#{object.agency}"></th>
								<th th:text="#{info.destinations}"></th>
								<th th:text="#{info.duration}"></th>
								<th th:text="#{info.date}"></th>
								<th th:text="#{info.price}"></th>
								<th th:text="#{info.description}"></th>
								<th th:text="#{action}"></th>
							</tr>
						</thead>
						<tbody>						
							<tr th:each="pacote : ${pacotes}">
								<td th:text="${pacote.id}"></td>
								<td th:text="${pacote.nome}"></td>
								<td th:text="${pacote.agencia.nome}"></td>
								<td th:text="${pacote.destinos}"></td>
								<td th:text="${pacote.duracao}"></td>
								<td th:text="${pacote.data}"></td>
								<td th:text="|R$ ${#numbers.formatDecimal(pacote.preco,2,2,'COMMA')}|"></td>
								<td th:text="${pacote.descricao}"></td>
								<td colspan="2">
									<a class="btn btn-info btn-sm"
										th:href="@{/pacotes/editar/{id} (id=${pacote.id}) }" role="button"> 
										<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
									</a>
									<button th:id="${#strings.concat('btn_pacotes/excluir/',pacote.id)}" 
										type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
										<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div th:replace="fragments/modal :: modal"></div>
		</section>
	</body>
</html>
