<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<section class="layout-content" layout:fragment="corpo">
			<nav class="navbar navbar-expand-md bg-light">
			<br/><br/><br/>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<span th:text="#{list.agency}"></span>
						</li>
					</ul>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="btn btn-primary btn-md" th:href="@{/agencias/cadastrar}" role="button"> 
						<span th:text="#{new.agency}"></span>
					</a>
				</div>
				</div>
			</nav>
			<div class="container" id="listagem">
				<div th:replace="fragments/alert"></div>
				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<th th:text="#{info.name}"></th>
								<th th:text="#{info.cnpj}"></th>
								<th th:text="#{info.description}"></th>
								<div sec:authorize="hasRole('ROLE_ADMIN')">
								<th th:text="#{action}"></th>
							</div>
							</tr>
						</thead>
						<tbody>
							<tr th:each="agencia : ${agencias}">
								<td th:text="${agencia.nome}"></td>
								<td th:text="${agencia.cnpj}"></td>
								<td th:text="${agencia.descricao}"></td>
								<div sec:authorize="hasRole('ROLE_ADMIN')">
									<td colspan="2">
										<a class="btn btn-sm" th:href="@{/agencias/editar/{id} (id=${agencia.id}) }"
											role="button"> 
											<span>EDITAR </span>
										</a>
										<button
											th:id="${'btn_agencias/excluir/' + agencia.id}"
											type="button" class="btn btn-sm"
											data-toggle="modal" data-target="#myModal">
											<span>EXCLUIR</span>
										</button>
									</td>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div th:replace="fragments/modal :: modal"></div>
		</section>
	</body>
</html>
