<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
	<head><meta charset="UTF-8"></head>
	<body>
		<header th:fragment="cabecalho">
			<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<div class="row">
							<div sec:authorize="isAuthenticated()" style="right: 10px; position: absolute">
									<form th:action="@{/logout}" method="post">
										<div class="row">
											<div class="col-sm-12 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info" value="Logout">
											</div>
										</div>
									</form>
							</div>
							<a class="navbar-brand " th:href="@{/}" th:text="#{object.title}"></a>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</body>
</html>