<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<br/><br/>
			<div sec:authorize="hasRole('ROLE_USER')">
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active" th:text="#{object.purchase}"></span></li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/compras/cadastrar}"> 
								
								<span th:text="#{action.buy}"></span>
							</a>
						</li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/compras/listar}"> 
								<span th:text="#{action.list}"></span>
							</a>
						</li>
					</ul>
			</div>
			<br/>
			<div sec:authorize="hasRole('ROLE_USER')">
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active" th:text="#{object.agency}"></span></li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/agencias/listar}"> 
								<span th:text="#{action.list}"></span>
							</a>
						</li>
					</ul>
			</div>
			<br/>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active" th:text="#{object.customer}"></span></li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/clientes/cadastrar}"> 
								<span th:text="#{action.register}"></span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/clientes/listar}"> 
								<span th:text="#{action.list}"></span>
							</a>
						</li>
					</ul>
			</div>
			<br/>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active" th:text="#{object.agency}"></span></li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/agencias/cadastrar}"> 
								<!-- <i class="oi oi-plus"></i> -->
								<span th:text="#{action.register}"></span>
							</a>
						</li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/agencias/listar}"> 
								<!-- <i class="oi oi-spreadsheet"></i> -->
								<span th:text="#{action.list}"></span>
							</a>
						</li>
					</ul>
			</div>
			<br/>
			<div sec:authorize="hasRole('ROLE_ADMIN')" >
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active" th:text="#{object.package}"></span></li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/pacotes/cadastrar}">
								<span th:text="#{action.register}"></span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/pacotes/listar}">
								
								<span th:text="#{action.list}"></span>
							</a>
						</li>
					</ul>
			</div>
			<br/>
			<div sec:authorize="hasRole('ROLE_AGENCIA')" >
					<ul class="nav nav-pills">
						<li class="nav-item">
							<span class="nav-link active" th:text="#{object.package}"></span>
						</li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/pacotes/cadastrar}"> 
								
								<span th:text="#{action.register}"></span>
							</a>
						</li>
						<br/>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/pacotes/listar}">
								
								<span th:text="#{action.list}"></span>
							</a>
						</li>
					</ul>
			</div>
		</nav>
	</body>
</html>