<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title th:text="#{object.title}"></title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		
		<!-- Bootstrap core CSS -->
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
		
		<!-- Custom styles for this template -->
		<link th:href="@{/css/style.css}" rel="stylesheet" />
	</head>
	<body>
		<header th:replace="fragments/header :: cabecalho">
			<div>header</div>
		</header>
	
		<div class="layout-main">
			<aside>
				<nav th:replace="fragments/sidebar :: nav-sidebar">
				</nav>
			</aside>
			<section layout:fragment="corpo">
				
			</section>
		</div>
	</body>
</html>